*{
    font-family: sans-serif;
    box-sizing: border-box;
}

img{
    background-color: white;
}

body{
    margin: 0 auto;
}

header{
    position: sticky;
    top: 0;
}

header nav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 6em;
}

header nav div ul{
    display: flex;
    flex-direction: row;
}

header nav div ul li {
    list-style-type: none;
    margin: 0 1em;
}

header nav div ul li a:hover{
    color: #0070f3;
    transition: all 0.2s;
}

header nav div ul li a{
    text-decoration: none;
    color: white;
}

header nav .nav-derecha ul li {
    border: 1.2px solid white;
    padding: .6em 1em;
    border-radius: 9px;
    color: white;
}

header nav .nav-derecha ul li:hover{
    background-color: #0071f334;
    border: solid 1px #0070f3;
    transition: all 0.2s;
}

main div{
    height: 700px;
    background-image: url(../Multimedia/Imagenes/escritorio-main.jpg);
    background-position: center;
    background-position-y: -200px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

main div h1, main div p{
    color: white;
}




