*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: black;
    margin: 0 auto;
    color: white;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.91;
    height: 5em;
}

header nav div{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header nav div ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 60%;
}

header nav div ul li {
    list-style-type: none;
    margin: 0 1em;
    height: 80%;
    display: flex;
    align-items: center;
}

header nav div ul li a:hover{
    color: #0070f3;
    transition: all 0.13s;
}

header nav div ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
}

header nav .nav-derecha ul li {
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.106);
    padding: .6em 0.8em;
    border-radius: 9px;
    color: white;
    margin: 0 0.5em;
}

header nav .nav-derecha ul li:hover{
    border: solid 1px #0070f3;
    background-color: #0071f334;
    transition: all 0.13s;
}

header nav .nav-derecha ul li a:hover{
    color: white;
}

/* NAV DERECHA */
main .cabecera-principal{
    height: 450px;
    background-image: url(../Multimedia/Imagenes/escritorio-main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2500px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .cabecera-principal div{
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .cabecera-principal div p{
    margin-bottom: 1.5em;
}

main .cabecera-principal div h1, main .cabecera-principal div p{
    color: white;
    text-align: center;
}

main .cabecera-principal div h1{
    margin-bottom: 0.1em;
    font-size: 5em;
}

main .cabecera-principal h1:hover{
    color: #0070f3;
    transition: all 0.13s;
}

main .cabecera-principal p{
    font-weight: 100;
}

.boton{
    margin: 0 9em;
    border: solid 1px #0070f3;
    background-color: #0071f334;
    padding: .6em 1em;
    border-radius: 9px;
    color: white;
    text-align: center;
}

.boton:hover{
    background-color: #0070f3;
    transition: all 0.13s;
}
.boton a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* MAIN DE INDEX*/
.articulo1{
    background-color: white;
}

.articulo1 h2{
    text-align: center;
    padding: 0.5em 0;
    background-color: #0070f3;
    color: white;
}

.articulo1 div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

.articulo1 div div{
    width: 20em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}
.articulo1 div div a img{
    height: 20em;
    width: auto;
    border-radius: 2em;
}

.articulo1 div div a img:hover{
    transform: scale(1.01);
    transition: all 0.13s;
    
}

/* SLONGAN ENTRE ARTÍCULOS */
.slogan{
    padding: 1em 0;
    text-align: center;
    padding: 1em 0;
}

.slogan h4{
    font-weight: 100;
    font-size: 1.2em;
    color: white;
}

/* ARITULO SOBRE NOSOTROS */
.articulo2{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.articulo2 div{
    width: 50%;
    padding: 3em 10em;
}

.articulo2 div h2, .articulo2 div p{
    text-align: left;
    color: black;
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

.articulo2 div p{
    margin-bottom: 2em;
}

.articulo2 div h2{
    color: black;
}

.articulo2 div ul li, .articulo2 div ul li b{
    line-height: 2em;
    color: black;
}

.compromiso{
    background-color: #0070f3;
}

.articulo2 .compromiso h2, .articulo2 .compromiso ul li, .articulo2 .compromiso ul li b{
    color: white;
}
/* FOOTER GENERAL */
footer {
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* CONTENEDOR PRINCIPAL */
#contfooter {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* MENÚ */
#menu {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    padding: 1.5em;
    text-align: center;
}

/* DETALLES */
#detalles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

/* INFORMACIÓN */
#informacion {
    display: flex;
    justify-content: center;
    margin: 1em auto;
}

#informacion div,
#social div {
    padding: 0 5em;
}

#informacion svg {
    margin-right: 0.5em;
}

#direccion a,
#tel a {
    display: flex;
    align-items: center;
}

/* MAPA */
#mapa {
    display: flex;
    justify-content: center;
}

#mapa iframe {
    width: 90%;
}

/* REDES SOCIALES */
#social {
    display: flex;
    justify-content: center;
    margin: 1em auto;
}

/* LINKS */
#menu a,
#informacion a,
#social a {
    color: white;
    text-decoration: none;
}

#menu a:hover,
#informacion a:hover,
#social a:hover {
    color: #0070f3;
    text-decoration: none;
}

/* DERECHOS */
#derechos {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    padding: 1em;
}

/* Productos */
.productos{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: white;
}

.productos h2{
    width: 100%;
    text-align: center;
    margin: 1em auto;
    color: black;
}

article.producto {
    width: 700px;
    margin: 30px;
    background: #ffffff;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

/* CABECERA */
.cabezeraproducto {
    display: flex;
    padding: 25px;
}

/* IMAGEN */
.cabezeraproducto .imagen img {
    width: 15em;
    height: auto;
}

/* TÍTULO Y PRECIO */
.cabezeraproducto .titulo h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    margin-bottom: 1em;
}

.cabezeraproducto .titulo a {
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
    border-radius: 9px;
    padding: .5em;
    background-color: white;
    border: 1px black solid;
}

.cabezeraproducto .titulo a:hover{
    background-color: rgb(241, 241, 241);
}

.precio {
    margin-top: 1em;
    font-size: 1.6rem;
    font-weight: 750;
    color: #0070f3;
    text-align: left;
}

/* CONTENIDO INFERIOR */
.contenido-producto {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 25px 25px;
}

/* BENEFICIOS */
.beneficios p {
    color: #0f172a;
}

.beneficios ul {
    list-style: none;
    padding: 0;
    margin: 1em;
}

.beneficios li {
    font-size: 0.95rem;
    color: #374151;
    margin-bottom: 6px;
}

/* BOTÓN AÑADIR */
.anadir a {
    display: flex;
    align-items: center;
    background: #0ea4e9a1;
    color: white;
    padding: 14px 22px;
    border-radius: 999px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 8px 18px rgba(14, 165, 233, 0.35);
}

.anadir a:hover {
    background: #0070f3;
}

/* ICONO */
.anadir svg {
    align-items: center;
    width: 22px;
    height: 22px;
    margin-right: .5em;
} 
/* FORMULARIOS */
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../Multimedia/Imagenes/fondo-forms.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}

form{
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 3em 2em;
}

.formulario form h3{
    text-align: center;
    margin-bottom: 1em;
    font-size: 2.9em;
    color: black;

}

.formulario form h3:hover{
    color: #0070f3;
    transition: all 0.13s;
}

.formulario label{
    font-size: .9em;
    font-weight: bold;
    line-height: 2;
    color: black;
}
.formulario input, .formulario textarea, .formulario select{
    margin-bottom: 2em;
    width: 100%;
    color: black;
    background-color: transparent;
    border: solid 1px black;
    padding: 0.4em;
}

.formulario form p a{
    color: #0070f3;
    text-decoration: none;
}

.formulario form p a:hover{
    text-decoration: underline;
    transition: all 0.13s;
}

.formulario form .enviar{
    margin-top: .5em;
    width: 40%;
    background-color: #036bd3;
    border: 1px solid #0070f3;
    padding: .7em 1.5em;
    border-radius: 9px;
    font-weight: bold;
    color: white;
}

.formulario form .enviar:hover{
    border: solid 1px #0070f3;
    background-color: #0071f3b5;
    transition: all 0.13s;

}

.formulario form .eliminar{
    color: black;
    border: px solid black;
    padding: .7em 1.5em;
    width: 40%;
    border-radius: 9px;
    font-weight: bold;
}

.formulario form .eliminar:hover{
    background-color: rgb(241, 241, 241);
    transition: all 0.13s;
}
.formulario textarea{
    height: 10em;
    resize: none;
}
.formulario input, .formulario select, .formulario textarea{
    padding: .9em;
    border-radius: 5px;
    border: solid 1px #ccc;
    font-size: 0.85em;
}
.formulario input:focus, .formulario select:focus, .formulario textarea:focus{
    outline: none;
    border: solid 1px #0070f3;
    transition: all 0.13s;
        box-shadow: #0070f3 0px 0px 5px;

}

.formulario form .union{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}
.formulario form .union input{
    width: 10%;
    margin-bottom: 0;
}
.formulario form .union label{
    width: 90%;
    margin-bottom: 0;
}

.formulario form p{
    margin-bottom: 1em;
    text-align: center;
    color: black;
    font-size: 1.1em;
}
.formulario form p small{
    color: black;
    text-align: left;
}

.formulario form .datos-bancarios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formulario form .datos-bancarios div{
    width: 48%;
}

/* CONFIRMACIÖN FORMULARIO DE CONTACTO */
.confirmacion-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 3em 0;
} 

.confirmacion-contacto div{
    max-width: 40em;
    text-align: center;
}
.confirmacion-contacto div h3, .confirmacion-contacto div p{
    color: black;
}

.confirmacion-contacto div h3{
    font-size: 2.5em;
    margin-bottom: .4em;
}

.boton-formulario{
    display: inline-block;
    text-align: center;
    margin-top: 1em;
    background-color: #036bd3;
    border: 1px solid #0070f3;
    padding: .6em 3em;
    border-radius: 9px;
    font-weight: bold;
    color: white;
}
.boton-formulario:hover{
    border: solid 1px #0070f3;
    background-color: #0071f3b5;
    transition: all 0.13s;
}

.boton-formulario a{
    font-size: .85em;
    text-decoration: none;
    color: white;
}

.correo-recuperacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 3em 0;
}

.correo-recuperacion div{
    max-width: 40em;
}

h4{
    font-size: 2.5em;
    color: black;
    padding-bottom: .5em;
}

p{
    color: black;
}
